.jumbotron{
background-color:#81ecec;
color: white;
padding: 100px 0;
text-align: center;
}
.icon{
    font-size: 80px;
}
.profile{
    padding: 10px;
    font-size: 60px;
    color: black;
}
.saved{
    padding: 10px;
    font-size: 50px;
    color: black;

}
.headerBottom{
   padding-top: 10px;
    margin-left: 70vw;
}
